# Ignore node_modules (they'll be installed inside the container)
node_modules/

# Ignore logs and debug files
npm-debug.log
yarn-error.log

# Ignore test result directories
/test-results/
/playwright-report/
/blob-report/

# Ignore Playwright cache
/playwright/.cache/

# Ignore Allure report and result directories
/allure-report/
/allure-results/

# Ignore coverage files (if any)
coverage/

# Ignore local configuration files (if applicable)
*.env

# Ignore any other unnecessary files or directories
.DS_Store